<head><link rel="stylesheet" href="/css/liverpool.css" type='text/css'></head>

<!-- <div class = "background-photo">
  <img src="https://cdn.pixabay.com/photo/2016/07/06/17/25/liverpool-1500885__480.jpg">
</div> -->


<!-- <div id="month"></div> -->

<body id ="liverpool">

  <div id="header">
    <p>Countdown Until We Lift The Premier League Cup</p>
  </div>

  <div id="clockdiv"> 
      <div id="box"> 
        <span id="month"></span> 
        <div class="smalltext" id="months">Months</div> 
      </div> 
      <div id="box"> 
        <span id="day"></span> 
        <div class="smalltext"  id="days">Days</div> 
      </div> 
      <div id="box"> 
        <span id="hour""></span> 
        <div class="smalltext" id="hours">Hours</div> 
      </div> 
      <div id="box"> 
        <span id="minute"></span> 
        <div class="smalltext" id="minutes">Minutes</div> 
      </div> 
      <div id="box"> 
        <span id="second"></span> 
        <div class="smalltext" id="seconds">Seconds</div> 
      </div> 
    </div> 
</body>


<script src="/js/liverpool.js"></script>