<head><link rel="stylesheet" href="/css/liverpool.css" type='text/css'></head>

<div class = "background-photo" src=></div>


<!-- <div id="month"></div> -->

<div id="clockdiv"> 
    <div> 
      <span class="months"></span> 
      <div class="smalltext" id="month">Months</div> 
    </div> 
    <div> 
      <span class="days"></span> 
      <div class="smalltext"  id="day">Days</div> 
    </div> 
    <div> 
      <span class="hours""></span> 
      <div class="smalltext" id="hour">Hours</div> 
    </div> 
    <div> 
      <span class="minutes"></span> 
      <div class="smalltext" id="minute">Minutes</div> 
    </div> 
    <div> 
      <span class="seconds"></span> 
      <div class="smalltext" id="second">Seconds</div> 
    </div> 
  </div> 

<script src="/js/liverpool.js"></script>