<head><link rel="stylesheet" href="/css/pomodoro.css" type='text/css'></head>

<body id="pomodoro">

    <div id="background-image">
        <div id="pomodoro-holder">
            <div id="pomodoro-counter"></div>
            <div id="buttons-layout">
                <div id="start-stop-btn"><button type="button"></button></div>
                <div id="pause-btn"><button type="button"></button></div>
                <div id="reset-btn"><button type="button"></button></div>
            </div>
            
        </div>
        <img src="/images/pomodoro-clock-dark.png">
    </div>
    
    <!-- <div id = "pomodoro-counter">
    </div> -->
    
    <div id="play-stop" class="btn">
    
    </div>
</body>

<script src="/js/pomodoro.js"></script>