#background-image {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    width: auto;
    height: auto;
   
}

#background-image img{
    width: 100%;
    height: auto;
}

#pomodoro-counter {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

#pomodoro-holder {
    text-align: center;
}

#minutes {
    display: inline;
}

#seconds {
    display: inline;
}

.start-stop-btn{
    display: inline;
}

.pause-btn{
    display: inline;;
}

.reset-btn{
    display: inline;
}

.buttons-layout{
    display: inline-flex;
}